.Icon{
    width: 25px;
    height: 25px;
    margin: auto;
}

.LeftIcon{
    margin-left: 1%;
    width: 25px;
    height: 25px;
}

.RightIcon{
    margin-right: 1%;
    width: 25px;
    height: 25px;
}

.more-text-1{
}